<ion-header>
  <ion-toolbar>
    <ion-title>upp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ion-padding>
<h3 text-center>Please Select Image</h3>
<ion-list>
  <ion-item  text-wrap>
    <ion-thumbnail slot="start">
      <ion-img [src]="img.path"></ion-img>
    </ion-thumbnail>
    <ion-label>
      {{img.name}}
    </ion-label>
<ion-button  fill="clear"(click)="startUpload(img, pos)">
  <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
</ion-button>

<ion-button >
  <ion-icon slot="icon-only" name="trash"></ion-icon>
</ion-button>
  </ion-item>
</ion-list>
</ion-content>
