<!-- <ion-header>
  <ion-toolbar>
    <ion-title>userprofile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <ion-progress-bar value="0.5"></ion-progress-bar> -->
  <!------ Refresher ------->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <!-- <ion-col size="4">
      <ion-avatar class="ion-margin-start ion-margin-top">
        <img  type="file"  (change)="selectFile($event)"/>
       <ion-input  type="file" (change)="selectFile($event)"
        name="camera"></ion-input> 
      </ion-avatar>
    </ion-col> -->
      <ion-col class="ion-margin-top" size="4">
        <img style="margin-left:2em;" src="../../assets/icon/user.png" height="50" width="50">
      </ion-col>
      <ion-col>
        <p class="ion-margin-top" style="font-weight: bold;">{{name}}</p>
        <a routerLink="/finaledit">View and edit profile</a>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-item-group>

          <!-- Packages -->
          <ion-item routerLink="/package">
            <ion-row>
              <ion-col col-12>

                <ion-label>Buy Packages & My Orders</ion-label>
                <p id="tagline" class="ion-no-margin">Packages,orders,billing and invoices</p>
              </ion-col>
            </ion-row>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>

          <!-- Settings -->

          <ion-item routerLink="/settings">
            <ion-row>
              <ion-col col-12>

                <ion-label>Settings</ion-label>
                <p id="tagline" class="ion-no-margin">Privacy and logout</p>
              </ion-col>
            </ion-row>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>


          <!-- Help Support -->
          <ion-item routerLink="/support">
            <ion-row>
              <ion-col col-12>

                <ion-label>Help & Support</ion-label>
                <p id="tagline" class="ion-no-margin">Help center and legal terms</p>
              </ion-col>
            </ion-row>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>

          <!-- Languages -->
          <ion-item routerLink="/language">
            <ion-row>
              <ion-col col-12>

                <ion-label>Select Language</ion-label>
                <p id="tagline" class="ion-no-margin">English</p>
              </ion-col>
            </ion-row>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>


        </ion-item-group>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>



<!------------------ Footer---------------------- -->
<ion-toolbar color="danger" style="height: 4em;">
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col>
        <div routerLink="/dashboard">
          <ion-icon color="light" class="ion-margin-start" name="home"></ion-icon>
          <p color="light" class=" footer_text ion-margin-start ">Home</p>
        </div>
      </ion-col>
      <ion-col routerLink="/offerings">
        <ion-icon color="light" class="ion-margin-start" name="bookmark"></ion-icon>
        <p color="light" class=" footer_text ion-margin-start">Ads</p>

      </ion-col>
      <ion-col (click)="takephoto()">
        <ion-icon color="light" class="ion-margin-start" name="camera"></ion-icon>
        <p color="light" class=" footer_text ion-margin-start">Sell</p>


      </ion-col>
      <ion-col routerLink="/chatspage">
        <ion-icon color="light" class="ion-margin-start" name="chatbox"></ion-icon>
        <p color="light" class=" footer_text ion-margin-start">Chat</p>

      </ion-col>
      <ion-col routerLink="/userprofile">
        <ion-icon color="light" class="ion-margin-start" name="person"></ion-icon>
        <p color="light" class=" footer_text ion-margin-start">Account</p>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>