p,a{
    font-size:12px;
 
}
.package{
  color: blue;
}
ion-label{
    font-family: 'Lato', sans-serif!important;
    font-size:13px!important;
    font-weight: bold;
    // text-align: right;
}
.edit{
  background: cornflowerblue;
    margin: 2px;
    padding: 0px 2px 2px 2px;
}
ion-footer{
  // --background: blue!important;
    background-color: #ff1477;
}
#tagline{
color: darkslategrey;
  font-size: xx-small;
  line-height: 3vh;
  font-weight: 500;
  //text-align: right;
}
ion-icon{
  font-size:14px;
}
.footer_text{
  font-size: 10px;
  color:white;
  font-family: 'Lato', sans-serif!important;
}

  
 
  
 