<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/"></ion-back-button>
    <ion-title color="light">My PROFILE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-progress-bar value="0.5"></ion-progress-bar> -->
  <!------ Refresher ------->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <!-- <ion-col size="4">
      <ion-avatar class="ion-margin-start ion-margin-top">
        <img  type="file"  (change)="selectFile($event)"/>
       <ion-input  type="file" (change)="selectFile($event)"
        name="camera"></ion-input> 
      </ion-avatar>
    </ion-col> -->
      <ion-col class="ion-margin-top" size="4">
        <img style="margin-left:2em;" src="../../assets/icon/user.png" height="50" width="50">
      </ion-col>
      <ion-col>
        <p class="ion-margin-top" style="font-weight: bold;">{{name}}</p>
        <a routerLink="/finaledit">View and edit profile</a>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-item-group>

          <!-- Packages -->
          <ion-item routerLink="/package">
            <ion-row>
              <ion-col col-12>

                <ion-label>Buy Packages & My Orders</ion-label>
                <p id="tagline" class="ion-no-margin">Packages,orders,billing and invoices</p>
              </ion-col>
            </ion-row>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>

          <!-- Settings -->

          <ion-item routerLink="/settings">
            <ion-row>
              <ion-col col-12>

                <ion-label>Settings</ion-label>
                <p id="tagline" class="ion-no-margin">Privacy and logout</p>
              </ion-col>
            </ion-row>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>


          <!-- Help Support -->
          <ion-item routerLink="/support">
            <ion-row>
              <ion-col col-12>

                <ion-label>Help & Support</ion-label>
                <p id="tagline" class="ion-no-margin">Help center and legal terms</p>
              </ion-col>
            </ion-row>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>

          <!-- Languages -->
          <ion-item routerLink="/language">
            <ion-row>
              <ion-col col-12>

                <ion-label>Select Language</ion-label>
                <p id="tagline" class="ion-no-margin">English</p>
              </ion-col>
            </ion-row>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>


        </ion-item-group>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>



<!------------------ Footer---------------------- -->
<div id="footer">
  <ion-grid>
    <ion-row>
    <ion-col routerLink="/dashboard" class="ion-margin-start">
     <ion-icon style="margin-left:3px;" color="light"  name="home"></ion-icon>
     <div  color="light" class="content">Home</div>
    
    </ion-col>
    <ion-col routerLink="/adspage">
      <ion-icon color="light" name="bookmark"></ion-icon>
      <div class="content">Ads</div>
     </ion-col>
  
     <ion-col (click)="getcamera()">
      <ion-icon (click)="getcamera()"  color="light"  name="camera"></ion-icon>
      <div class="content">Camera</div>
     </ion-col>
  
     <ion-col routerLink="/chatspage">
      <ion-icon color="light" name="chatbox"></ion-icon>
      <div class="content">Chat</div>
     </ion-col>
     <ion-col  routerLink="/userprofile" >
      <ion-icon color="light" style="margin-left: 6px;" name="person"></ion-icon>
      <div class="content " >Account</div>
     </ion-col>
     
    </ion-row>
  </ion-grid>
  </div>