<ion-header>
  <ion-toolbar>
    <ion-title>INVOICES & BILLING</ion-title>
    <ion-icon routerLink="/userprofile"  class="ion-margin-start" name="arrow-back-outline" slot="start"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        
        <ion-item-group>
          
        
          <ion-item>
            <ion-label >Buy packages</ion-label>
            <ion-icon  name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-item  >
            <ion-label >My Orders</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>Invoices</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label >Billing information</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
  
          
        </ion-item-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
