ion-label{
    font-family: 'Lato', sans-serif!important;
    font-size:13px!important;
    font-weight: bold;
}
ion-icon{
    font-size:14px;
}
.ghgh{
    font-size:20px!important;
    color: #262424;
}

.footer_text{
    font-size: 10px;
}