<ion-header>
  <ion-toolbar>
 <ion-back-button slot="start" defaultHref="/"></ion-back-button>
 <ion-title slot="start">CATEGORIES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item class="ion-margin-top" lines="none">
      <img id="cat1" src="../../assets/icon/vegetable.png" height="40px" width="40px"> 
      <ion-label class="ion-margin-start">Vegetables</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

      <ion-item class="ion-margin-top" lines="none">
      <img id="cat2" src="../../assets/icon/almond.png" height="40px" width="40px"> 
      <ion-label class="ion-margin-start">Dry Nuts</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

      <ion-item class="ion-margin-top" lines="none">
      <img id="cat3" src="../../assets/icon/fresh.png" height="40px" width="40px"> 
      <ion-label class="ion-margin-start">Fruits</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

      <ion-item class="ion-margin-top" lines="none">
      <img id="cat4" src="../../assets/icon/seeds.png" height="40px" width="40px"> 
      <ion-label class="ion-margin-start">Seeds</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

      <ion-item class="ion-margin-top" lines="none">
      <img id="cat5" src="../../assets/icon/flower.png" height="40px" width="40px"> 
      <ion-label class="ion-margin-start">Flowers</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

      <ion-item class="ion-margin-top" lines="none">
      <img id="cat6" src="../../assets/icon/oil.png" height="40px" width="40px"> 
      <ion-label class="ion-margin-start">Edible OIl</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item class="ion-margin-top" lines="none">
      <img id="cat7" src="../../assets/icon/bag.png" height="40px" width="40px"> 
      <ion-label class="ion-margin-start">Bevarages</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

      <ion-item class="ion-margin-top" lines="none">
      <img id="cat2" src="../../assets/icon/spice.png" height="40px" width="40px"> 
      <ion-label class="ion-margin-start">Herbs & Spices</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>


      <ion-item class="ion-margin-top" lines="none">
      <img id="cat9" src="../../assets/icon/bag.png" height="40px" width="40px"> 
      <ion-label class="ion-margin-start">Fertilizers</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

  </ion-list>
</ion-content>
