ion-label,ion-title{
    font-family: 'Lato', sans-serif!important;
    font-weight: bold;
}
ion-segment-button{
    font-size:10px;
}
ion-icon{
    font-size:18px;
}

.footer_text{
    font-size: 10px;
}