<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/"></ion-back-button>
    <ion-title color="light">CHATS</ion-title>
    <ion-icon  style="font-size:16px;"name="search" slot="end" class="ion-margin-end"></ion-icon>
  </ion-toolbar>


</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="selectTabs">
    <ion-segment-button value="ALL">
      <ion-label>ALL</ion-label>
    </ion-segment-button>
    <ion-segment-button value="BUYINGS">
      <ion-label>BUYINGS</ion-label>
    </ion-segment-button>
    <ion-segment-button value="SELLINGS">

      <ion-label>SELLINGS</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectTabs == 'ALL'">
    <h3 class="ion-text-center">Not Listed</h3>
  </div>

  <div *ngIf="selectTabs == 'BUYINGS'">
    <h3 class="ion-text-center">Not Listed</h3>
  </div>

  <div *ngIf="selectTabs == 'SELLINGS'">
    <ion-grid>
      <ion-row>
       <ion-col>
         <p style="margin-top:11em;" class="ion-margin-top ion-text-center">No messages</p>
         <ion-button  routerLink="/offerings" expand="block">START SELLING</ion-button>
       </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>


<!------------------ Footer---------------------- -->
<ion-toolbar style="height: 4em;">
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col>
        <div>
          <ion-icon color="light" class="ion-margin-start" name="home"></ion-icon>
          <p color="light"  class=" footer_text ion-margin-start ">Home</p>
        </div>
      </ion-col>
      <ion-col routerLink="/adspage">
        <ion-icon color="light" class="ion-margin-start" name="bookmark"></ion-icon>
        <p  color="light"  class=" footer_text ion-margin-start">Ads</p>

      </ion-col>
      <ion-col (click)="getcamera()">
        <ion-icon color="light" class="ion-margin-start" name="camera"></ion-icon>
        <p color="light" class=" footer_text ion-margin-start">Sell</p>


      </ion-col>
      <ion-col routerLink="/chatspage">
        <ion-icon color="light" class="ion-margin-start" name="chatbox"></ion-icon>
        <p  color="light" class=" footer_text ion-margin-start">Chat</p>

      </ion-col>
      <ion-col routerLink="/userprofile">
        <ion-icon color="light" class="ion-margin-start" name="person"></ion-icon>
        <p  color="light" class=" footer_text ion-margin-start">Account</p>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>