ion-label,ion-title{
    font-family: 'Lato', sans-serif!important;
    font-weight: bold;
}
ion-segment-button{
    font-size:10px;
}



ion-footer{
    // --background: blue!important;
      background-color: #ff1477;
  }
ion-icon{
    font-size:14px;
}
.footer_text{
    font-size: 10px;
    color:white;
    font-family: 'Lato', sans-serif!important;
}