<ion-header>
  <ion-toolbar>

    <ion-back-button slot="start" Defaulthref="/"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>


  <ion-grid>
    <ion-row>
      <ion-col col-8 >
  <div class="ion-text-right">
    <img id="valued_image" src="http://localhost:8080/products/{{image?.split('\\')[2]}}">
  
    </div>
  </ion-col>
 
    </ion-row>
  </ion-grid>
  

  <ion-grid>
    <ion-row>
      <ion-col>
       
        <div class="ion-text-center">
          <span>  {{name}}</span> <br>
          <span>Rs.{{price}}</span>
        </div >
        </ion-col>
  
    </ion-row>  
  </ion-grid>
  

  <ion-grid>
    <ion-row>
      <ion-col>
      
          <ion-label position="stacked">Product Description</ion-label>
         
          <ion-textarea disabled readonly maxLength="500"
            value="{{desc}}">
          </ion-textarea>
      </ion-col>
    </ion-row>
  </ion-grid>






</ion-content>