ion-footer{
    // --background: blue!important;
      background-color: #ff1477;
  }
  
.footer_text{
    font-size: 10px;
    color:white;
    font-family: 'Lato', sans-serif!important;
}   
p,h4{
    font-family: 'Lato', sans-serif!important;
}

.cross{

    position: fixed;
   margin: auto;
    left: 3%;
    top: 3%;
    top: 4%;
    z-index: auto;
}
.sharecross{

 position: fixed;
    margin: auto; 
    left: 92%;
    top: 3%;
    top: 4%;
    z-index: auto;
}
.pricetag{
    font-weight:bold;
    font-size: 16px;;
}