<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-back-button slot="start" defaultHref="/"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-grid>
    <ion-row>
      <ion-col col-8>
        <ion-slides [options]="sliderOpts" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)" zoom>

          <ion-slide>
            <div class="ion-text-right swiper-zoom-container">

              <img style="height: 14em; width: auto;" id="valued_image"
                src="http://ec2-18-141-240-226.ap-southeast-1.compute.amazonaws.com:3000/products/{{image?.split('\\')[2]}}">
              <ion-icon class="cross" name="close" routerLink="/dashboard" color="light"></ion-icon>
              <ion-icon (click)="share()" class="sharecross" color="light" name="share-social"></ion-icon>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="ion-text-right swiper-zoom-container">

              <img style="height: 14em; width: auto;" id="valued_image"
                src="http://ec2-18-141-240-226.ap-southeast-1.compute.amazonaws.com:3000/products/{{image?.split('\\')[2]}}">
              <ion-icon class="cross" name="close" routerLink="/dashboard" color="light"></ion-icon>
              <ion-icon (click)="share()" class="sharecross" color="light" name="share-social"></ion-icon>
            </div>
          </ion-slide>
          <ion-slide> 
            <div class="ion-text-right swiper-zoom-container">

              <img style="height: 14em; width: auto;" id="valued_image"
                src="http://ec2-18-141-240-226.ap-southeast-1.compute.amazonaws.com:3000/products/{{image?.split('\\')[2]}}">
              <ion-icon class="cross" name="close" routerLink="/dashboard" color="light"></ion-icon>
              <ion-icon (click)="share()" class="sharecross" color="light" name="share-social"></ion-icon>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>

    </ion-row>
  </ion-grid>




  <p class="ion-margin-start pricetag"> &#8377; {{price}}</p>
  <p class="ion-margin-start pricetag"> {{name}}</p>
  <h5 class="ion-text-center" style="
 background: #a89a9a;">Details</h5>
  <ion-label>About Product: {{desc}}</ion-label><br>
  <ion-row>
    <ion-col>
      <ion-icon color="primary" class="ion-margin-top" name="location"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <p>{{city}}</p>
    </ion-col>
  </ion-row>

</ion-content>

<ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/msg" color="danger" expand="full">CHAT</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="danger" expand="full">CALL</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-toolbar>