

<ion-content>
  

   <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
  <div class="heading">
    <h2>Welcome</h2>
    <h4>Agri Mobile Mandi</h4>
    </div>
   

    <div class="actions">
      <div class="seperator">
         <ion-button routerLink="/register" class="signup-btn" expand="block">Join Us</ion-button>
         <p class="ion-text-center">or</p>
         <span class="line left"></span>
         <span class="line right"></span>
       </div>
   <p class="login ion-text-center" routerLink="/login">Existing user?&nbsp;<a>Login now</a></p>
     </div>
    
</ion-content>
