<ion-header>
  <ion-toolbar color="dark">
    <ion-title>language</ion-title>
    <ion-icon routerLink="/userprofile" class="ion-margin-start" name="arrow-back-outline" slot="start"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="padding">
  <b>{{reverseGeocodingResults}}</b>
</div> 
<ion-item class="ion-margin-top">
   <ion-label color="dark" position="stacked">Email:</ion-label>
  <ion-input inputmode="email" placeholder="English" value=""></ion-input>
</ion-item>


<ion-item class="ion-margin-top">
  
  <ion-input inputmode="email" placeholder="Hindi" value=""></ion-input>
</ion-item>


<ion-item class="ion-margin-top">
  
  <ion-input inputmode="email" placeholder="Kannada" value=""></ion-input>
</ion-item>
<ion-button class="ion-margin-top ion-margin-start ion-margin-end" expand="block">Continue</ion-button>


</ion-content>
