<ion-content fullscreen ion-padding>

    <ion-row class="ion-justify-content-center">
      <ion-col size="3">
      </ion-col>
      <ion-col size="3">
        <img class="ion-margin-top" id="logo" src="../../assets/icon/final-logo.png">
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>

    <!-- <h3 class="ion-text-center ">Mobile Mandi</h3> -->
    <form [formGroup]="formcontrol">
      <div *ngIf="valid">
        <p class="ion-margin-start" *ngIf="formcontrol.get('fullname').hasError('required')">Name required * </p>
      </div>

      <div class="field">
        <input type="text" formControlName="fullname" name="fullname" id="fullname" placeholder="">


        <label for="fullname">FullName</label>

      </div>
      <div *ngIf="valid">
        <p class="ion-margin-start" *ngIf="formcontrol.get('number').hasError('required')">Please enter the mandatory
          field * </p>
      </div>



      <div class="field">
        <input type="number" name="number" formControlName="number" id="number" placeholder="">
        <label for="number">PhoneNumber</label>
      </div>


      <p class="ion-text-right ion-margin-end" style="margin-top: -3em;" routerLink="/forgot">Forgot Password?</p>
      <p class="ion-text-center ion-margin-top" style="font-size:12px;">Don't have an account? &nbsp;<a
          routerLink="/register">Create</a></p>

      <ion-grid>
        <ion-row>
         
          <ion-col>
            <ion-button   expand="block" (click)="login();">Login</ion-button>

          </ion-col>
         
        </ion-row>
      </ion-grid>
    </form>


  </ion-content>

