<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/"></ion-back-button>
    <!-- <ion-title slot="start">Packages</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <h5>post more ads</h5>

  <div>
    <p class="ion-margin-start">Package available for 30 days</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- Card 1 -->
        <ion-card>
          <ion-card-header>
            <ion-row>
              <ion-col>
                <div>
                  <ion-checkbox color="primary"></ion-checkbox>
                </div>
              </ion-col>
              <ion-col>
                <div class="Ads">
                  <p>500 ADS</p>
                </div>

             </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <p>&#8377;Amt</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Card 2 -->

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-row>
              <ion-col>
                <div>
                  <ion-checkbox color="primary"></ion-checkbox>
                </div>
              </ion-col>
              <ion-col>
                <div class="Adss">
                  <p>500 ADS</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <p>&#8377;Amt</p>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
<ion-item-divider  class="ion-margin-start ion-margin-end"></ion-item-divider>
  <div>
    <!-- <ion-icon class="ion-margin-top"  name="checkmark"></ion-icon>  -->
    <p class="ion-margin-start">Package available for 50 days</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>

        <!-- Card 3 -->
        <ion-card>
          <ion-card-header>
            <ion-row>
              <ion-col>
                <div>
                  <ion-checkbox color="primary"></ion-checkbox>
                </div>
              </ion-col>
              <ion-col>
                <div class="Ads">
                  <p>500 ADS</p>
                </div>

              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <p>&#8377;Amt</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Card 4 -->

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-row>
              <ion-col>
                <div>
                  <ion-checkbox color="primary"></ion-checkbox>
                </div>
              </ion-col>
              <ion-col>
                <div class="Adss">
                  <p>500 ADS</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <p>&#8377;Amt</p>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>






</ion-content>