<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>USers</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
   <!------ Refresher ------->
   <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  
  <table mat-table [dataSource]="listData" class="table">

  


    <ng-container matColumnDef="fullname">
      <th style="color: white;font-size: 16px;" mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let arr"> {{arr.fullname}} </td>
     
    </ng-container>


 <ng-container matColumnDef="number">
      <th style="color: white;font-size: 16px;" mat-header-cell *matHeaderCellDef> Phone number
      </th>
      <td mat-cell *matCellDef="let arr"> {{arr.number}} </td>
    
    </ng-container>

    <ng-container matColumnDef="id">
      <th style="color: white;font-size: 16px;" mat-header-cell *matHeaderCellDef> Id
      <td mat-cell *matCellDef="let arr"> {{arr.id}} </td>
     
    </ng-container>


    <ng-container matColumnDef="delete">
      <th style="color: white;font-size: 16px;" mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let arr"><button (click)="delete(arr.id)" class="btn btn-warning">Delete</button></td>
      <ion-button>Delete</ion-button>
     
    </ng-container>




    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>








    </table>
    
</ion-content>