<ion-header translucent no-border>
  <ion-toolbar>
    <ion-icon routerLink="/userprofile" class="ion-margin-start" name="arrow-back-outline" slot="start"></ion-icon>

    
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formcontrol">
  <!-- <h5 class="ion-margin-start">Basic Information</h5> -->

    


 
<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="3">
      <div>
        <ion-avatar >
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
      </div>
    </ion-col>
  </ion-row>


  <!-- Fullname -->
  <ion-row>
    <ion-col >
    <ion-item>
        <ion-label position="floating">Enter your Name</ion-label>
        <ion-input [(ngModel)]="name"  formControlName="fullname" ></ion-input>
        <div *ngIf="valid">
          <p no-margin *ngIf="formcontrol.get('fullname').hasError('required')">Name required </p>
          </div>
      </ion-item>
</ion-col>
</ion-row>
<!-- Phonenumber -->

<ion-row>
  <ion-col >
  <ion-item>
      <ion-label position="floating">Enter your phone</ion-label>
      <ion-input [(ngModel)]="number"  formControlName="number" ></ion-input>
      <div *ngIf="valid">
        <p no-margin *ngIf="formcontrol.get('number').hasError('required')">Phone required </p>
        </div>
    </ion-item>
</ion-col>
</ion-row>


<ion-row class="ion-justify-content-center">
  <ion-col class="ion-margin-top">
    <ion-button color="danger" expand="full" (click)="update()"  >Save</ion-button>
  </ion-col>
</ion-row>

</ion-grid>
  </form>
</ion-content>

<!-- Footer -->
<ion-footer color="danger"  style="height: 4em;">
  <ion-grid no-padding>
    <ion-row no-padding >
<ion-col>
  <div>


  <ion-icon color="danger" class="ion-margin-start" name="home-outline"></ion-icon>
   <p class=" footer_text ion-margin-start ">Home</p> 
  </div>
</ion-col>
<ion-col>
  <ion-icon color="danger"  class="ion-margin-start" name="bookmark-outline"></ion-icon>
  <p class=" footer_text ion-margin-start">Ads</p> 

</ion-col>
<ion-col>
  <ion-icon  color="primary" class="ion-margin-start" name="camera-outline"></ion-icon>
 <p class=" footer_text ion-margin-start">Sell</p> 


</ion-col>
<ion-col>
  <ion-icon  color="danger" class="ion-margin-start" name="chatbox-outline"></ion-icon>
  <p class=" footer_text ion-margin-start">Chat</p>

</ion-col>
<ion-col routerLink="/userprofile">
  <ion-icon  color="danger" class="ion-margin-start" name="person-outline"></ion-icon>
  <p class=" footer_text ion-margin-start">Account</p>

</ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>