<ion-header translucent no-border>
  <ion-toolbar color="danger">
    <ion-back-button defaultHref="/" slot="start"></ion-back-button>
   </ion-toolbar>
</ion-header>

<ion-content>

  <div class="top-head">
 <!-- <img src="http://localhost:8080/profile/{{photo?.split('\\')[2]}}" style="height:70px; width:80px;"> -->
 <ion-avatar >
   <img src="{{myphoto}}" ><ion-icon   (click)="getimage()" class="camera-icon" name="camera"></ion-icon>
 </ion-avatar>
     </div>
   
     <div class="top">
      <div class="center">
        <form [formGroup]="formcontrol">
     <ion-item transparent>
      <img icon-small src="../../assets/icon/name.png">
   <ion-input    formControlName="fullname"  [(ngModel)]="name"  placeholder="Fullname" type="text"></ion-input>
    </ion-item>
    <div *ngIf="valid">
      <p  class="error_msg" no-margin *ngIf="formcontrol.get('fullname').hasError('required')">Name required </p>
    </div>


   <ion-item transparent>
  <img icon-small src="../../assets/icon/phone.png">
 <ion-input  formControlName="number"  [(ngModel)]="number"  placeholder="Fullname" type="text"></ion-input>
</ion-item>
<div *ngIf="valid">
  <p no-margin *ngIf="formcontrol.get('number').hasError('required')">Phone required </p>
</div>
 <ion-button class="ion-margin-top"color="danger" expand="block" (click)="update()">Save</ion-button>
</form>
</div>
</div>
</ion-content>














<!------------------ Footer---------------------- -->
<ion-toolbar color="danger" style="height: 4em;">
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col>
        <div routerLink="/dashboard">
          <ion-icon color="light" class="ion-margin-start" name="home"></ion-icon>
          <p color="light" class=" footer_text ion-margin-start ">Home</p>
        </div>
      </ion-col>
      <ion-col routerLink="/offerings">
        <ion-icon color="light" class="ion-margin-start" name="bookmark"></ion-icon>
        <p color="light" class=" footer_text ion-margin-start">Ads</p>

      </ion-col>
      <ion-col (click)="getcamera()">
        <ion-icon color="light" class="ion-margin-start" name="camera"></ion-icon>
        <p color="light" class=" footer_text ion-margin-start">Sell</p>


      </ion-col>
      <ion-col routerLink="/chatspage">
        <ion-icon color="light" class="ion-margin-start" name="chatbox"></ion-icon>
        <p color="light" class=" footer_text ion-margin-start">Chat</p>

      </ion-col>
      <ion-col routerLink="/userprofile">
        <ion-icon color="light" class="ion-margin-start" name="person"></ion-icon>
        <p color="light" class=" footer_text ion-margin-start">Account</p>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>