<ion-header class="ion-no-border">
  <ion-back-button slot="start" defaultHref="/"></ion-back-button>
  <div class="login-header">
    <img class="logo-img" src="../../assets/icon/final-logo.png">
  </div>
 </ion-header>





<ion-content fullscreen ion-padding>
  

  <div class="center">

    <ion-item transparent>
      <img icon-small src="../../assets/icon/phone.png"> 
    <ion-input  placeholder="Phone Number" type="text"></ion-input>
   </ion-item>




    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="danger"  expand="block" fill="solid" (click)="reset()">Forgot password</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>



</ion-content>