*{
  font-family: 'Lato', sans-serif!important;
 }
 
 .menu-header-bg{
   height:180px;
   width:350px;
  //  background: #ff1744;
   transform: rotate(-15deg);
   border-radius: 10px 10px 10px 50px;
   margin-left: -18px;
   margin-top:-50px;
   margin-bottom: 60px;
   background: linear-gradient(90deg,#ffffff 0%, rgb(255, 255, 255) 100%);
   //box-shadow: 0px 1px 10px rgba(6, 130, 202, 0.5);
   box-shadow: 0px 1px 10px rgba(38, 119, 165, 0.5)
  }
 .header-content{
   position: absolute;
   top:4%;
   left:15%;
   display: flex;
   align-items: center;

    img{
   width:80px;
   height:80px;
   border-radius: 50%;
  //border:7px solid #5e5e5e;
 margin-right: 14px;
 } 
 }
 
 .menu-items{
   margin:0px;
 }
 .active{
   //border-left:5px solid;
 
  //  padding-left: 15px;
   ion-icon{
     color:#628cff;
     font-size: 19px;
   }
 }
 ion-item{
   padding-left:20px;
   margin-bottom: 10px;
 }

