



 
 ion-icon{
  background: #ff1744;
  
  color: white;
  border-radius: 13px;
  padding: 2px 2px 2px 2px;
  font-size: 19px;
 }
ion-label{
  font-family: 'Lato', sans-serif!important;
  font-size:13px!important;
color:#002e5b!important;
font-weight: 600;
 
}

 hr{
  background: grey;
  width: 70%;
 }

 i{
  background:   #ff1744;;
  color: white;
  border-radius: 13px;
  padding: 2px 2px 2px 2px;
  font-size: 19px;
 }
 #electro{
     color:#031646;
     background:white!important;
 }
 #user-top-icon{
  font-size: 26px;
  color: white;
  background: white;
  border-radius: 15px;
  padding: 2px 2px 2px 2px;
  margin-left:3em;

 }