<ion-header>
  <ion-toolbar>
 <ion-icon name="close" routerLink="/dashboard" class="ion-margin-start" 
 slot="start" ></ion-icon> 
  <ion-title>what are your offerings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row class="ion-margin-top">
    <ion-col>
      <ion-card>
        <ion-icon class="ion-margin-start category-icons" name="eye"></ion-icon>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <ion-icon class="ion-margin-start category-icons" name="eye"></ion-icon>
      </ion-card>
    </ion-col>


  </ion-row>
</ion-grid>


<ion-grid>
  <ion-row class="ion-margin-top">
    <ion-col>
      <ion-card>
        <ion-icon class="ion-margin-start category-icons" name="eye"></ion-icon>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <ion-icon class="ion-margin-start category-icons" name="eye"></ion-icon>
      </ion-card>
    </ion-col>


  </ion-row>
</ion-grid>




<ion-grid>
  <ion-row class="ion-margin-top">
    <ion-col>
      <ion-card>
        <ion-icon class="ion-margin-start category-icons" name="eye"></ion-icon>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <ion-icon class="ion-margin-start category-icons" name="eye"></ion-icon>
      </ion-card>
    </ion-col>


  </ion-row>
</ion-grid>
</ion-content>
