<ion-header>
  <ion-toolbar>
 <ion-icon name="close" routerLink="/dashboard" class="ion-margin-start" 
 slot="start" ></ion-icon> 
  <ion-title>what are your offerings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row class="ion-margin-top">
    <ion-col>
      <ion-card>
        <ion-icon class="ion-margin-start category-icons" name="eye"></ion-icon>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <ion-icon class="ion-margin-start category-icons" name="eye"></ion-icon>
      </ion-card>
    </ion-col>


  </ion-row>
</ion-grid>


<ion-grid>
  <ion-row class="ion-margin-top">
    <ion-col>
      <ion-card>
        <ion-icon class="ion-margin-start category-icons" name="eye"></ion-icon>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <ion-icon class="ion-margin-start category-icons" name="eye"></ion-icon>
      </ion-card>
    </ion-col>


  </ion-row>
</ion-grid>




<ion-grid>
  <ion-row class="ion-margin-top">
    <ion-col>
      <ion-card>
        <ion-icon class="ion-margin-start category-icons" name="eye"></ion-icon>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <ion-icon class="ion-margin-start category-icons" name="eye"></ion-icon>
      </ion-card>
    </ion-col>


  </ion-row>
</ion-grid>
</ion-content>


<ion-footer color="danger"  style="height: 4em;">
  <ion-grid no-padding>
    <ion-row no-padding >
<ion-col>
  <div>


  <ion-icon color="danger" class="ion-margin-start" name="home-outline"></ion-icon>
   <p class=" footer_text ion-margin-start ">Home</p> 
  </div>
</ion-col>
<ion-col>
  <ion-icon color="danger"  class="ion-margin-start" name="bookmark-outline"></ion-icon>
  <p class=" footer_text ion-margin-start">Ads</p> 

</ion-col>
<ion-col>
  <ion-icon  color="primary" class="ion-margin-start" name="camera-outline"></ion-icon>
 <p class=" footer_text ion-margin-start">Sell</p> 


</ion-col>
<ion-col>
  <ion-icon  color="danger" class="ion-margin-start" name="chatbox-outline"></ion-icon>
  <p class=" footer_text ion-margin-start">Chat</p>

</ion-col>
<ion-col routerLink="/userprofile">
  <ion-icon  color="danger" class="ion-margin-start" name="person-outline"></ion-icon>
  <p class=" footer_text ion-margin-start">Account</p>

</ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>