ion-title{
    text-transform: uppercase;
}
ion-toolbar{
    --background:#42d77d;
 
   }
   *{
    font-family: 'Lato', sans-serif!important;
  }
.tagline{
    font-size: 13px;
    font-weight: 500;
    padding: 43px;
    font-family: 'Lato', sans-serif!important;
}
img{
    height: 2em;
    width: auto;
    position: absolute;
    left: 41%;
    top: 25%;
}
ion-toolbar
  {
    
    --background: #27ae60;
  }
.category-icons{
    font-size: 22px;
    padding: 13px;
    margin: 17px 0px 24px 35px;
}
ion-card{
    border-style: none;
    box-shadow: initial;
    border-right: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
    border-radius: 0;
    height:6em;
}
ion-footer{
    // --background: blue!important;
      background-color: #ff1477;
  }
ion-icon{
    font-size:14px;
}
.footer_text{
    font-size: 10px;
    color:white;
    font-family: 'Lato', sans-serif!important;
}

.footer_text{
    font-size: 10px;
}