
.footer_text{
    font-size: 10px;
    color:white;
    font-family: 'Lato', sans-serif!important;
}
ion-segment-button{
  font-size: initial;

}
ion-button{
  --background: #27ae60;
}
ion-toolbar
  {
    
    --background: #27ae60;
  }
  p,ion-label{
    font-family: 'Lato', sans-serif!important;

  }
 ion-button{
  position: absolute;
  width: 16em;
  left: 20%;
 }