<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/"></ion-back-button> 
    <ion-title color="light">MY ADS</ion-title>
    
  </ion-toolbar>


</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="selectTabs">
    <ion-segment-button value="ADS">
      <ion-label>ADS</ion-label>
    </ion-segment-button>
    <ion-segment-button value="FAVOURITES">
      <ion-label>FAVOURITES</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectTabs == 'ADS'">
<ion-grid>
  <ion-row>
   <ion-col>
     <p style="margin-top:11em;" class="ion-margin-top ion-text-center">You haven't listed anything yet</p>
     <ion-button routerLink="/offerings"  expand="block">Post</ion-button>
   </ion-col>
  </ion-row>
</ion-grid>


  </div>

  <div *ngIf="selectTabs == 'FAVOURITES'">
    <ion-grid>
      <ion-row>
       <ion-col>
         <p style="margin-top:11em;" class="ion-margin-top ion-text-center">No Favourites</p>
         
       </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>


<!------------------ Footer---------------------- -->
<div id="footer">
  <ion-grid>
    <ion-row>
    <ion-col routerLink="/dashboard" class="ion-margin-start">
     <ion-icon style="margin-left:3px;" color="light"  name="home"></ion-icon>
     <div  color="light" class="content">Home</div>
    
    </ion-col>
    <ion-col routerLink="/adspage">
      <ion-icon color="light" name="bookmark"></ion-icon>
      <div class="content">Ads</div>
     </ion-col>
  
     <ion-col (click)="getcamera()">
      <ion-icon (click)="getcamera()"  color="light"  name="camera"></ion-icon>
      <div class="content">Sell</div>
     </ion-col>
  
     <ion-col routerLink="/chatspage">
      <ion-icon color="light" name="chatbox"></ion-icon>
      <div class="content">Chat</div>
     </ion-col>
     <ion-col  routerLink="/userprofile" >
      <ion-icon color="light" style="margin-left: 6px;" name="person"></ion-icon>
      <div class="content " >Account</div>
     </ion-col>
     
    </ion-row>
  </ion-grid>
  </div>