
.footer_text{
    font-size: 10px;
    color:white;
    font-family: 'Lato', sans-serif!important;
}

ion-footer{
    // --background: blue!important;
      background-color: #ff1477;
  }
  p,ion-label{
    font-family: 'Lato', sans-serif!important;

  }
  ion-button{
      --background:
  }