*{
  font-family: 'Lato', sans-serif!important;
}

ion-segment-button{
  font-size: initial;

}
.content{
  font-size: 9px;
  font-weight: bold;
color:white;
}
#footer {
  position: fixed;
  bottom: -1%;
  width: 100%;
  justify-content: center;
  background: #27ae60;
  height:48px;
  }
ion-button{
  --background: #27ae60;
}
ion-toolbar
  {
    
    --background: #27ae60;
  }
  
 ion-button{
  position: absolute;
  width: 16em;
  left: 20%;
 }