.locate{
    border:1px solid grey;
    width:306px;
}
.location_icon{
font-size: 20px;
}
#cat1{
    background: antiquewhite;
    
    /* opacity: 1.1; */
    border-radius: 56px;
}
#cat2{
    background: antiquewhite;
    border-radius: 56px;
}
#cat3{
    background: antiquewhite;
    border-radius: 56px;
}
.search_box{
    border:1px solid grey;
}
#profile_img{
    border-radius: 37px;
    /* height: -webkit-fill-available; */
    height: 2em;
    /* width: 35px; */

}
#category{
    font-size: 27px;
    background: red;
    border-radius: 19px;
    /* padding: 1px 1px 1px 1px; */
    padding: 2px 2px 2px 2px;
}
