.locate{
    border:1px solid grey;
    width:306px;
}
.location_icon{
font-size: 20px;
}
#cat1{
    background: antiquewhite;
    
    /* opacity: 1.1; */
    border-radius: 56px;
}
#cat2{
    background: antiquewhite;
    border-radius: 56px;
}
#cat3{
    background: antiquewhite;
    border-radius: 56px;
}
.search_box{
    border:1px solid grey;
}
#profile_img{
    border-radius: 37px;
    /* height: -webkit-fill-available; */
    height: 3em;
    /* width: 35px; */
    width:100px;

}
#category{
    font-size: 27px;
    background: red;
    border-radius: 19px;
    /* padding: 1px 1px 1px 1px; */
    padding: 2px 2px 2px 2px;
}
.ghgh{
    font-size:20px!important;
    color: #262424;
}

.footer_text{
    font-size: 10px;
}
ion-card{
  border-style: none!important;
    width:11em;
}
.product_text{
    font-family: 'Lato', sans-serif!important;
   font-weight: 600;
   color:black;
   margin:4px;
}
.card-content-md{
    padding-bottom:0px!important;
}
#footer{
    --background: blue!important;
    
}
// span,ion-col{
//     background: red;
//     padding: 2px 2px 2px 2px;
//     border-radius: 22px;
// }