<ion-header class="ion-no-border">
  <ion-toolbar color="danger">


    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input (click)="loc()">
            <ion-icon color="primary" name="location" class="ion-margin-start  
            location_icon"></ion-icon>
            <p>{{latitude}}</p>
            <p>{{longitude}}</p>
          </ion-input>

        </ion-col>
        <ion-col size="2">

          <!-- <img  src="http://localhost:8080/profile/{{photo?.split('\\')[2]}}"
    slot="end" class="ion-margin-end" style="height: 39px;border-radius: 25px;margin: 10px;"> -->


          <img src="../../assets/icon/user.png" height="50" width="50">
        </ion-col>
        <!-- <ion-col size="2">
          <p (click)="presentPopover()" style="font-size:8px; color:darkblue;">Language<ion-icon
              style="font-size:10px!important;" name="chevron-down-outline"></ion-icon>
          </p>

        </ion-col> -->
      </ion-row>
    </ion-grid>



    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input (ionInput)="getItems($event)" class="search_box" clearInput placeholder="Search your needs">
            <ion-icon name="search" class="ion-margin-start  location_icon"></ion-icon>
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>
<!-- <ion-content>
  <div id="map" style="width:100%;height:100%;">

    <ion-label>Latitude:{{latitude}}</ion-label> <br>
    <ion-label>Longitude:{{longitude}}</ion-label> <br>
    <ion-label>TimeStamp:{{timestamp}}</ion-label>
  </div>
</ion-content> -->

<ion-content fullscreen>

  <ion-grid class="Category-pop">
    <ion-row class="ion-justify-content-evenly">
      <ion-col>
     <p class="ion-margin-start">Catergory</p> </ion-col>

      <ion-col size="3">
        <p (click)="show = !show"  color="danger">See All</p>
       </ion-col>
    </ion-row>
  </ion-grid>
 <ion-grid class="catergory_title">
    <ion-row class="ion-justify-content-between">
      <ion-col class="ion-margin-start" size="3">
        <img id="cat1" src="../../assets/icon/vegetable.png" height="40px" width="40px">
        <p class="ion-no-margin">Vegetables</p>
      </ion-col>
      <ion-col size="3">
        <img id="cat2" src="../../assets/icon/vegetable.png" height="40px" width="40px">
        <p class="ion-no-margin "> Dry Nuts</p>
      </ion-col>
      <ion-col size="2">
        <img id="cat3" src="../../assets/icon/vegetable.png" height="40px" width="40px">
        <p class="ion-no-margin">Fruits</p>
      </ion-col>
    </ion-row>
  </ion-grid> 

        <div *ngIf="show" [@enterAnimation]>
         <p>Nikhath</p>
        </div>
    
  <!-- <ion-grid class="catergory_title">
    <ion-row class="ion-justify-content-between">
      <ion-col class="ion-margin-start" size="3">
        <img id="cat1" src="../../assets/icon/vegetable.png" height="40px" width="40px">
        <p class="ion-no-margin">Vegetables</p>
      </ion-col>
      <ion-col size="3">
        <img id="cat2" src="../../assets/icon/nut.png" height="40px" width="40px">
        <p class="ion-no-margin "> Dry Nuts</p>
      </ion-col>
      <ion-col size="2">
        <img id="cat3" src="../../assets/icon/food-and-restaurant.png" height="40px" width="40px">
        <p class="ion-no-margin">Fruits</p>
      </ion-col>
    </ion-row>
  </ion-grid>  -->

 

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let l of products" size="6" [routerLink]="['/product-detail',l.id]">
        <ion-card>

          <ion-card-content>
            <img src="http://localhost:8080/products/{{l.image?.split('\\')[2]}}" height="120" width="180">
        
          </ion-card-content>
          <p class="ion-text-center product_text"> &#8377;{{l.price}}</p>
          <p class="ion-text-center product_text">Quantity {{l.quant}}</p>
          <p class="ion-text-center ion-no-margin product_text">{{l.name}}</p>
          <p class="ion-text-center product_text"> {{l.desc}}</p>
          <div style="border-top: 1px solid #b4acac;">
            <ion-row>
              <ion-col col-12>
                <ion-icon color="primary" class="ion-margin-start " style="font-size:13px;" name="location"></ion-icon>
                <p style="margin-top: -1em;" class="ion-text-center product_text"> {{l.city}}</p>
              </ion-col>
            </ion-row>
            </div>
          </ion-card>
          
          </ion-col>


    </ion-row>
  </ion-grid>







</ion-content>


<!------------------ Footer---------------------- -->

<ion-toolbar color="danger" style="height: 4em;">
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col>
        <div>
          <ion-icon color="light" class="ion-margin-start" name="home"></ion-icon>
          <p color="light" class=" footer_text ion-margin-start ">Home</p>
        </div>
      </ion-col>
      <ion-col routerLink="/adspage">
        <ion-icon color="light" class="ion-margin-start" name="bookmark"></ion-icon>
        <p color="light" class=" footer_text ion-margin-start">Ads</p>

      </ion-col>
      <ion-col (click)="takephoto()">
        <ion-icon color="light" class="ion-margin-start" name="camera"></ion-icon>
        <p color="light" class=" footer_text ion-margin-start">Sell</p>


      </ion-col>
      <ion-col routerLink="/chatspage">
        <ion-icon color="light" class="ion-margin-start" name="chatbox"></ion-icon>
        <p color="light" class=" footer_text ion-margin-start">Chat</p>

      </ion-col>
      <ion-col routerLink="/userprofile">
        <ion-icon color="light" class="ion-margin-start" name="person"></ion-icon>
        <p color="light" class=" footer_text ion-margin-start">Account</p>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>