<ion-header no-border>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-evenly">
        <ion-col>
        <ion-input (click)="getLoc()" ><ion-icon name="location" class="ion-margin-start  
            location_icon"></ion-icon></ion-input> 
            
        </ion-col>
        
        <ion-col size="2" >
        <img  id="profile_img" src="../../assets/icon/images.jpg">
        </ion-col>
      </ion-row>
    </ion-grid>



<ion-grid>
  <ion-row >
    <ion-col>
      <ion-input class="search_box" clearInput placeholder="Search your needs" > 
        <ion-icon name="search" class="ion-margin-start  location_icon"></ion-icon>
      </ion-input>
     </ion-col>
  </ion-row>
</ion-grid>

</ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
    <ion-row class="ion-justify-content-evenly">
      <ion-col >
        <p class="ion-margin-start">Catergory</p>
      </ion-col>
      
      <ion-col size="3" >
        <p >See All</p>
      </ion-col>
    </ion-row>
  </ion-grid>


<ion-grid>
  <ion-row   class="ion-justify-content-between">
    <ion-col  class="ion-margin-start" size="3">
<img id="cat1" src="../../assets/icon/wheat.png" height="40px" width="40px">
    </ion-col>
    <ion-col size="3">
      <img id="cat2" src="../../assets/icon/tomato.png" height="40px" width="40px">
    </ion-col>
         <ion-col size="3">
            <img id="cat3" src="../../assets/icon/wheat.png" height="40px" width="40px">
          </ion-col> 
          <ion-col>
            <img id="cat1" src="../../assets/icon/healthy-food.png" height="40px" width="40px">
          </ion-col>
  </ion-row>
</ion-grid>


<!-----------------------Product Images------------------->
<ion-grid>
  <ion-row>
    <ion-col *ngFor="let l of products" size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{l.productname}}</ion-card-subtitle>
    
        </ion-card-header>
      
        <ion-card-content>
         <img src="http://localhost:8080/products/{{l.image?.split('\\')[2]}}" height="70" width="70">
        </ion-card-content>
        <p> {{l.productprice}}</p>
        <p> {{l.productdescription}}</p>
        <p> {{l.productdiscount}}</p>
      </ion-card>
      
    </ion-col>
  </ion-row>
</ion-grid>




 


</ion-content>
