<ion-header class="ion-no-border">
  <ion-row style="background: #27ae60;" class="ion-align-items-end">
    <ion-col size="10">
      <ion-icon color="primary" name="location" class="
      location_icon"></ion-icon>
    </ion-col>

  <ion-col size="2">
 
     <ion-icon id="choose" (click)="chooselangauge()" name="ellipsis-vertical"></ion-icon>
   </ion-col>
    
  </ion-row>
 
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input (ionInput)="getItems($event)" class="search_box" clearInput placeholder="Search your needs">
            <ion-icon name="search" class="ion-margin-start  location_icon"></ion-icon>
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

  
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-slides [options]="slideOptions" autoplay="2000" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
    <ion-slide>
      <img src="../../assets/mic/slide4.jpg">
      <p class="myoverlay">We have solutions for agri need</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/mic/slide00.jpg">
      <p class="myoverlay">Heart of Perfect Farming</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/mic/slide2.jpg">
      <p class="myoverlay">Adding green to the Customers</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/mic/slide0.jpg">
      <p class="myoverlay">Field is Futures.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/mic/slide13.jpg">
      <p class="myoverlay">Shaping your Need</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/mic/slide8.jpg">
      <p class="myoverlay">The agricultural commodity experts</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/mic/slide5.jpg">
      <p class="myoverlay">We farm, You eat.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/mic/slide11.jpg">
      <p class="myoverlay">Grow naturally, Live natural</p>
    </ion-slide>

  </ion-slides>
  <!------------------Category heading------------------>
  <ion-grid class="Category-pop">
    <ion-row class="ion-justify-content-evenly">
      <ion-col>
        <p class="ion-margin-start">Catergory</p>
      </ion-col>
      <ion-col size="3">
        <p (click)="show = !show" color="danger">See All</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!------ Refresher ------->
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher> -->

  <!-------View Categories---------------->

  <ion-grid class="catergory_title">
    <ion-row class="ion-justify-content-between">
      <ion-col class="ion-margin-start" size="3">
        <img id="cat1" src="../../assets/mic/food.png" height="40px" width="40px">

        <p class="ion-no-margin">Vegetables</p>
      </ion-col>
      <ion-col size="3">
        <img id="cat2" src="../../assets/mic/fruits.png" height="40px" width="40px">
        <p class="ion-no-margin ">Fruits</p>
      </ion-col>
      <ion-col size="2">
        <img id="cat3" src="../../assets/mic/nut.png" height="40px" width="40px">
        <p class="ion-no-margin">Nuts</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!----Animated Category-------------->
  <div *ngIf="show" [@enterAnimation]>

    <ion-grid class="catergory_title">
      <ion-row class="ion-justify-content-between">
        <ion-col class="ion-margin-start" size="3">
          <img id="cat4" src="../../assets/mic/soil.png" height="40px" width="40px">
          <p class="ion-no-margin">Seeds</p>
        </ion-col>
        <ion-col size="3">
          <img id="cat5" src="../../assets/mic/flower (1).png" height="40px" width="40px">
          <p class="ion-no-margin "> Flowers</p>
        </ion-col>
        <ion-col size="2">
          <img id="cat6" src="../../assets/mic/edibleoil.png" height="40px" width="40px">
          <p class="ion-no-margin">Edible OIl</p>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid class="catergory_title">
      <ion-row class="ion-justify-content-between">
        <ion-col class="ion-margin-start" size="3">
          <img id="cat7" src="../../assets/mic/salad.png" height="40px" width="40px">
          <p class="ion-no-margin">Bevarages</p>
        </ion-col>
        <ion-col size="3">
          <img id="cat2" src="../../assets/mic/herbs.png" height="40px" width="40px">
          <p class="ion-no-margin ">Herbs</p>
        </ion-col>
        <ion-col size="2">
          <img id="cat9" src="../../assets/mic/seed (1).png" height="40px" width="40px">
          <p class="ion-no-margin">Fertilizers</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let l of products" size="6">
       
            <img class="pro-image"
       src="http://ec2-18-141-240-226.ap-southeast-1.compute.amazonaws.com:3000/products/{{l.image?.split('\\')[2]}}" >

         
          <p class="ion-text-center product_text"> &#8377;{{l.price}}</p>
          <p class="ion-text-center product_text">Quantity {{l.quant}}</p>
          <p class="ion-text-center ion-no-margin product_text">{{l.name}}</p>
          <p class="ion-text-center product_text"> {{l.desc}}</p>
          <div style="border-top: 1px solid #b4acac;">
            <ion-row>
              <ion-col col-12>
                <ion-icon color="primary" class="ion-margin-start " style="font-size:13px;" name="location"></ion-icon>
                <p style="margin-top: -1em;" class="ion-text-center product_text"> {{l.city}}</p>
              </ion-col>
             
            </ion-row>
            <ion-button  [routerLink]="['/product-detail',l.id]" expand="block" >View </ion-button>
          </div>
     
      </ion-col>
    </ion-row>
  </ion-grid>

<!----------------Camera Images-------------->
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let a of ads" size="6">
       
            <p class="product_text ion-text-center ">{{a.proname}}</p>
            <p  class="product_text ion-text-center ">{{a.protitle}}</p>
            <p  class="product_text ion-text-center ">  &#8377;{{a.proprice}}</p>
            <p  class="product_text  ion-text-center ">{{a.prokgs}}</p>
          
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

<!------------------ Footer---------------------- -->

<!------------------ Footer---------------------- -->
<div id="footer">
  <ion-grid>
    <ion-row>
    <ion-col routerLink="/dashboard" class="ion-margin-start">
     <ion-icon style="margin-left:3px;" color="light"  name="home"></ion-icon>
     <div  color="light" class="content">Home</div>
    
    </ion-col>
    <ion-col routerLink="/adspage">
      <ion-icon color="light" name="bookmark"></ion-icon>
      <div class="content">Ads</div>
     </ion-col>
     <ion-col (click)="getcamera()">
      <ion-icon (click)="getcamera()" color="light"  name="camera"></ion-icon>
      <div class="content">Sell</div>
     </ion-col>
     <ion-col routerLink="/chatspage">
      <ion-icon color="light" name="chatbox"></ion-icon>
      <div class="content">Chat</div>
     </ion-col>
     <ion-col  routerLink="/userprofile" >
      <ion-icon color="light" style="margin-left: 6px;" name="person"></ion-icon>
      <div class="content " >Account</div>
     </ion-col>
     
    </ion-row>
  </ion-grid>
  </div>