ion-content{
    font-family: 'Abel', sans-serif!important;
    font-size:20px;
}
#cash{
    color:green;
}
#people{
    color: orange;

}
ion-card-content{
    color:#002e5b;
}

#images{
    color:red;
}
ion-icon{
    color:black;  
    font-size: 43px;
    }
    p{
        color: #2f99c1;
        font-family: "Abel", sans-serif !important;
        font-size: 20px;
    }
    
    ion-card-content{
    
    font-weight: 600;
    }
    ion-buttons{
    margin-top:-1em;
    }
    .title_text{
    
    padding-left: 11px;
    font-size: 30px;
    font-family: 'Abel', sans-serif;
    margin-left:2em;
    padding-top:26px;
    }
    .selecttheme{
    
    font-family: "Abel", sans-serif;
    padding: 24px;
    font-size: 18px;
    margin-left:3em;
    }
    ion-toggle{
    margin-top:-1em;
    }
    ion-label{
    
    font-size:23px;
    }
