ion-icon {
    font-size: 3em;
    color:darkblue;
}
p,h4{
    font-family: 'Lato', sans-serif!important;
    font-weight:bold;
}

ion-title{
    font-family: 'Lato', sans-serif!important;
    color:deeppink;
}
ion-menu-button{
    color:darkblue;
}
