
<ion-content fullscreen no-padding>
  <ion-header>

<ion-toolbar>
  <ion-button slot="end"  routerLink="/login">Login</ion-button>
  <ion-button slot="end" class="ion-margin-end"  routerLink="/register">Register</ion-button>

</ion-toolbar>
</ion-header>

  <ion-grid>
    <ion-row>
      <ion-col >
        <h2 class=" margintop ion-text-center ion-margin-top">Welcome To Agri B2C</h2 >
          <ion-grid>
            <ion-row center>
              <ion-col></ion-col>
              <ion-col >
                <ion-button class="center" routerLink="/login">Get Connected</ion-button>
              </ion-col>
              <ion-col></ion-col>
             
            </ion-row>
          </ion-grid>
      </ion-col>
     
    </ion-row>
  </ion-grid>
</ion-content>
