ion-content{
    --background:white;
}
ion-title{
    font-weight: bold;
    color:green;
  
}
.margintop{
    color:green;

    font-weight: bold;
}
ion-button{
    --background: #45b649;
    height:2em;
    text-transform: capitalize;

}
