

<ion-content fullscreen ion-padding>
  <h3 class="ion-text-center ">Logo goes here</h3>
<form action="">
 

<div class="field">
  <input type="text" 
  name="fullname" id="fullname" placeholder="">
  <label for="fullname">FullName</label>
</div>

<div class="field">
  <input type="email" name="email" id="email" placeholder="">
  <label for="email">PhoneNumber</label>
</div>
<ion-grid>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <ion-button>Register</ion-button>

    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-grid>
</form>


</ion-content>
