<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-icon routerLink="/userprofile"  class="ion-margin-start" name="arrow-back-outline" slot="start"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        
        <ion-item-group>
          
        
          <ion-item>
            <ion-label >Privacy</ion-label>
            <ion-icon  name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-label >Notifications</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-item (click)="logout()">
            <ion-label >Logout</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label >Deactivate and delete my data</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
  
          
        </ion-item-group>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <script>
    const button = document.querySelector('ion-label');
    button.addEventListener('click', handleButtonClick);

    async function handleButtonClick() {
      const alert = await alertController.create({
        header: 'Use this lightsaber?',
        message: 'Do you agree to use this lightsaber to do good across the galaxy?',
        buttons: ['Disagree', 'Agree']
      });

      await alert.present();
    }
  </script> -->
</ion-content>
